includes:
    - .build/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests/src
    excludePaths:
        - tests/src/Fixtures/Templates/*/vendor/*
    bootstrapFiles:
        - tests/bootstrap.php
    symfony:
        consoleApplicationLoader: tests/console-application.php
        containerXmlPath: var/cache/test-container.xml
