includes:
    - .build/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests/src
    excludePaths:
        - tests/src/Fixtures/Templates/*/vendor/*
    bootstrapFiles:
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/test-container.xml
    type_coverage:
        param_type: 99
        property_type: 99
        return_type: 99
