includes:
    - .build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - .build/vendor/phpstan/phpstan-phpunit/extension.neon
    - .build/vendor/phpstan/phpstan-strict-rules/rules.neon
    - .build/vendor/phpstan/phpstan-symfony/extension.neon
    - .build/vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    level: max
    paths:
        - src
        - tests/src
    excludePaths:
        - tests/src/Fixtures/Templates/*/vendor/*
    bootstrapFiles:
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/test-container.xml
