name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests (PHP ${{ matrix.php-version }}, Composer ${{ matrix.composer-version }} & ${{ matrix.dependencies }} dependencies)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.1", "8.2", "8.3", "8.4", "8.5"]
        composer-version: ["2.1", "2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8", "2.9"]
        dependencies: ["highest", "lowest"]
        # Skip tests for PHP 8.4/8.5 and incompatible Composer versions
        exclude:
          - php-version: "8.4"
            composer-version: "2.1"
          - php-version: "8.4"
            composer-version: "2.2"
          - php-version: "8.4"
            composer-version: "2.3"
          - php-version: "8.5"
            composer-version: "2.1"
          - php-version: "8.5"
            composer-version: "2.2"
          - php-version: "8.5"
            composer-version: "2.3"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v${{ matrix.composer-version }}
          coverage: none

      - name: Determine composer options
        id: composer-options
        run: |
          FLAGS=""

          # Composer < 2.7 is not compatible with symfony/console 7.x
          if (( $(echo "${{ matrix.composer-version }} < 2.7" | bc -l) )); then
            FLAGS+=" --with symfony/console:<7"
          fi

          # Include Composer version constraint for Composer >= 2.2
          if (( $(echo "${{ matrix.composer-version }} >= 2.2" | bc -l) )); then
            FLAGS+=" --with composer/composer:~${{ matrix.composer-version }}.0"
          fi

          echo "flags=$FLAGS" >> $GITHUB_OUTPUT

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: ${{ steps.composer-options.outputs.flags }}

      # Run tests
      - name: Run tests
        run: composer test:unit

  coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: pcov

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest

      # Run Unit tests
      - name: Build coverage directory
        run: mkdir -p .build/coverage
      - name: Run Unit tests with coverage
        run: composer test:unit:coverage

      # Upload artifact
      - name: Fix coverage path
        working-directory: .build/coverage
        run: sed -i 's#/home/runner/work/project-builder/project-builder#${{ github.workspace }}#g' clover.xml
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: .build/coverage/clover.xml
          retention-days: 7

  coverage-report:
    name: Report test coverage
    runs-on: ubuntu-latest
    needs: coverage
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Download artifact
      - name: Download coverage artifact
        id: download
        uses: actions/download-artifact@v7
        with:
          name: coverage

      # Coveralls
      - name: Coveralls report
        uses: coverallsapp/github-action@v2
        with:
          file: ${{ steps.download.outputs.download-path }}/clover.xml

  docker:
    name: Docker tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Handle Docker image layer cache
      - name: Handle Docker cache
        uses: jpribyl/action-docker-layer-caching@v0.1.1
        continue-on-error: true

      # Run Docker tests
      - name: Run Docker tests
        run: tests/docker/docker-build.sh --cache --verbose
